@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

html{
    min-height: 100%;
    background-image: src="./img.carolinasada.svg";
    background-size: 40%;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
}

.cabecero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(255, 254, 254, 0.452);
    height: 140px;
}

.logotipo{
    width: 250px;
    padding: 30px;
}

.menu{
    display: flex;
    gap: 80px;
}

.menu-item{
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.menu-item:hover, .botao{
    cursor: pointer;
}

#sign-up{
    border-radius: 10px;
    background-color: rgba(14, 80, 14, 0.36);
    padding: 10px;
    border: none;
}

#sign-up:hover{
    background-color: rgba(164, 161, 161, 0.5);
}

.contenido{
    margin-bottom: 150px;
    display: flex;
    margin-top: 10%;
    margin-left: 10%;
    color: #374f59
}

.contenido-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.primer-texto{
    font-size: 40px;
    font-weight:bold;
}

.segundo-texto{
    font-size: 30px;
    font-weight:300;
    margin-top: 10px;
    font-weight: 300;
}

.boton{
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 220px;
    height: 50px;
    margin-top: 7%;
    border-radius: 10px;
    background-color: rgba(14, 80, 14, 0.36);
    border: none;
}

.boton:hover{
    background-color: rgba(164, 161, 161, 0.5);
}

.before{
    width: 400px;
    height: 500px;
    label{
    width: 30%;    
}

.main { 
    width: 140px;
    border: 1px solid rgba(9, 82, 100, 0.479); 
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
    
.e-mail{
    border-radius: 20px;
    box-sizing: content-box;
    background-color: rgba(14, 80, 14, 0.36);
    padding: 10px;
    border: none;
}
}